<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../assets/css/style.css"/>
    <a href='https://www.freepik.com/free-photo/coffee-shop-cafe-latte-cappuccino-newspaper-concept_2791862.htm'>Designed by Rawpixel.com</a>
    <title>{{Mongo Scraper}}</title>
</head>
<body>
    {{{body}}}
    
</body>
</html>

